@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Satisfy&family=VT323&display=swap');

/* colors */
:root {
  --border-radius: 2px;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --line-height: 1.6;
  --c-black: #000;
  --c-blue: #0FF;
  --c-lpink: rgb(255, 245, 255);
  --c-mpink: rgb(255, 230, 255);
  --c-dpink: rgb(255, 100, 255);
  --c-white: rgb(255, 255, 245);
  --c-lavender: #E6E6FA;
  --c-dlavender: #a7a7ff;
  --c-amethyst: #9966cc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-mpink: rgb(255, 200, 255);
    --c-dpink: rgb(255, 120, 255);
  }
}


/* font and links */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Satisfy', cursive;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.02rem;
  line-height: 1.2;
  margin-top: 0.9333333333rem;
  color: var(--c-lpink);
  display: flex;
  font-size: 3rem;
  text-shadow:
  0px 1px black, 1px 0px black,
  -1px 0px black, 0 -1px black,
  4px 4px var(--c-dpink); 
}


h1,
.h1 {
  margin: 0;
}
h1,
.h1 {
  font-size: 1.6018066406rem;
}
@media screen and (min-width: 20rem) {
  h1,
  .h1 {
    font-size: calc(1.6018066406rem + 0.6788907051 * ((100vw - 20rem) / 113));
  }
}
@media screen and (min-width: 133rem) {
  h1,
  .h1 {
    font-size: 2.2806973457rem;
  }
}

h2,
.h2 {
  font-size: 1.265625rem;
}
@media screen and (min-width: 20rem) {
  h2,
  .h2 {
    font-size: calc(1.265625rem + 0.5364074707 * ((100vw - 20rem) / 113));
  }
}
@media screen and (min-width: 133rem) {
  h2,
  .h2 {
    font-size: 1.8020324707rem;
  }
}

h3,
.h3 {
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  h3,
  .h3 {
    font-size: calc(1.125rem + 0.4768066406 * ((100vw - 20rem) / 113));
  }
}
@media screen and (min-width: 133rem) {
  h3,
  .h3 {
    font-size: 1.6018066406rem;
  }
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

a {
  text-decoration: none;
  color: var(--c-dpink);
}
a:active {
  color: var(--c-mpink);
}

/* Main elements */

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4rem;
  color: var(--c-black);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  background-color: var(--c-mpink);
  margin: 0;
  display: grid;
  grid-template-columns: 1rem auto 1rem;
  grid-template-rows: 2.5rem auto 0;
  grid-template-areas:
    "header header header"
    "left content right"
    "footer footer footer";
  height: 100vh;
}

header {
  font-family: 'VT323', monospace;
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
  color: var(--c-black);
  grid-area: header;
  display: grid;
  grid-template-columns: subgrid subgrid subgrid;
  grid-template-areas: "navbar";
  top: 0;
  z-index: 1;
  align-items: left;
  position: fixed;
  padding: 0 0;
  height: 2.5rem;
  width: 100vw;
  background: var(--c-white);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
    rgba(0, 0, 0, 0.15) 0 2px 12px;
}

.left {
  grid-area: left;
  width: auto;
}

.right {
  grid-area: right;
  width: auto;
}

main {
  grid-area: content;
  padding: 20px 10px;
}

.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

.body::-webkit-scrollbar {
  display: none;
}

.sidebar {
  grid-area: sidebar;
}

footer {
  background: var(--c-lpink);
  grid-area: footer;
  display: grid;
  grid-template-columns: subgrid subgrid subgrid;
  grid-template-areas: "left copyright right";
  align-items: center;
  padding: 0 0;
  height: fit-content;
  z-index: 1;
  border-radius: 2px;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 4px,
    rgba(0, 0, 0, 0.3) 0px -7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 3px 0px inset,
    rgba(0, 0, 0, 0.15) 0 -2px 12px;
}

/* decoration Box */

#archlogo {
  font-family: 'VT323', monospace;
  font-weight: var(--font-weight-normal);
  line-height: 0.75rem;
  font-size: 1rem;
  text-align: center;
  margin: auto;
  padding: 1rem;
  width: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--c-mpink);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 1px inset;
}

.frame {
  justify-items: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--c-white);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px,
  rgba(0, 0, 0, 0) 0px 7px 13px -3px,
  0 2px 12px rgba(0, 0, 0, 0.15);
}

#crop.frame {
  width: fit-content;
}

#full.frame {
  width: auto;
}

.label {
  display:flex;
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 1rem 0rem 0rem 0rem;
}

.content_header_container {
  display: flex;
  width: 100%;
  align-content: center;
}

#space-around {
  justify-content: space-around;
}

#space-between {
  justify-content: space-between;
}

#space-evenly {
  justify-content: space-evenly;
}

#blog_date {
  display:flex;
  margin: 0 2rem 0 0;
  justify-content: center;
  align-content: center;
  color: var(--c-black);
  border: 0;
  border-radius: 8px;
  width: fit-content;
  background-color: var(--c-white);
  box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px inset,
  var(--c-dlavender) -2px 7px 15px -3px inset,
  rgba(255, 255, 255, 1) 0px 2px 12px inset;
}

#blog_date p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#blog_header{
  margin: 0;
  margin-left: 2rem;
  padding: 0;
}

.smallbox_light {
  display: inline-flex;
  padding: 1% 2%;
  width: fit-content;
  border-radius: 8px;
  background: var(--c-lavender);
  color: var(--c-lpink);
  text-shadow:
  0px 1px black, 1px 0px black,
  -1px 0px black, 0 -1px black,
  4px 4px var(--c-dpink);
  
  box-shadow: 
  rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
  rgba(0, 0, 0, 0.15) 0 2px 12px;
}

.smallbox_dark {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0 1rem 0 1rem;
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  background: var(--c-lpink);
  box-shadow: 
  rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
  rgba(0, 0, 0, 0.15) 0 2px 12px;
}

.smallbox_dark h1, h2, h3, h4, h5, h6 {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  height: 2rem;
  font-size: 1.75rem;
  color: var(--c-black);
  font-weight: var(--font-weight-normal);
  display: flex;
  text-shadow:
  0px 1px white,
  1px 0px white,
  -1px 0px white,
  0 -1px white,
  4px 4px var(--c-amethyst); 
}

.smallbox_dark p {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  height: 2rem;
  font-weight: var(--font-weight-bold);
}

.smallbox_dark a {
  display: flex;
  align-self: center;
  justify-self: center;
  font-family: 'Satisfy', cursive;
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.02rem;
  line-height: 1.2;
  display: flex;
  height: 2rem;
  font-size: 1.75rem;
  color: var(--c-black);
  
  text-shadow:
    0px 2px white,
    2px 0px white,
    -2px 0px white,
    0 -2px white,
    0px 0px 0px black,
    4px 4px var(--c-amethyst); 
}

.box_light {
  display: flexbox;
  width: fit-content;
  background: var(--c-lavender);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0rem 0 0rem 1rem;
  padding: 1rem 2rem 1rem 1rem;
  
  text-shadow:
  0px 1px black, 1px 0px black,
  -1px 0px black, 0 -1px black,
  4px 4px var(--c-dpink);
  
  box-shadow: 
  rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
  rgba(0, 0, 0, 0.15) 0 2px 12px ;
}

.smallbox_light h2, h3, h4, h5, h6 {
  display: flex;
  color: var(--c-lpink);
  font-size: 2rem;
  text-shadow:
  0px 1px black, 1px 0px black,
  -1px 0px black, 0 -1px black,
  4px 4px var(--c-dpink); 
}

.smallbox {
  padding: 1rem 2rem;
  color: var(--c-black);
  background: var(--c-lavender);
  border: 0;
  border-radius: 10px;
  padding: 2% 5%;
  width: fit-content;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
    0 2px 12px rgba(0, 0, 0, 0.15);
}

.box {
  color: var(--c-black);
  background: var(--c-lavender);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: 1.6rem;
  padding: 0.5333333333rem 1.6rem 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px inset, rgba(0, 0, 0, 0.2) 0px -3px 0px,
    0 2px 12px rgba(0, 0, 0, 0.15) inset;
  }

.sheet {
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--c-white);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px,
  rgba(0, 0, 0, 0) 0px 7px 13px -3px,
  0 2px 12px rgba(0, 0, 0, 0.15);
}

.sheet p {
  margin-block-start: 1em;
  margin-block-end: 1em
}

.sheet h2, h3, h4, h5, h6 {
  color: var(--c-black);
  display: flex;
  font-weight: var(--font-weight-normal);
  text-shadow:
  0px 1px white,
  1px 0px white,
  -1px 0px white,
  0 -1px white,
  4px 4px var(--c-dpink); 
}

.small_header {
  display: flex;
  width: fit-content;
  height: 3rem;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1.5rem 2rem 0rem 2rem;
  padding: 0 1rem 0 1rem;
  border-radius: 8px;
  background: var(--c-lavender);
  font-weight: var(--font-weight-normal);
  font-family: 'Satisfy', cursive;
    box-shadow: 
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
    rgba(0, 0, 0, 0.15) 0 2px 12px;
    text-decoration: none;
  }

.small_header a {
  color: var(--text-color-2);
  padding: 0;
}

.small_header h1 {
  margin-right: 1rem;
}

.small_body_date {
  color: #afbfd2;
  font-size: 1.5rem;
  background: var(--c-lpink);
  color: var(--c-black);
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px -2px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.15) 0px 8px 12px -6px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
 

/* Navbar */

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: left;
  margin-top: 0.100rem;
  margin-left: 0px;
}

.navbar a {
  color: var(--c-dlavender);
  font-weight: var(--font-weight-normal);
  text-decoration: none;
  font-size: 1.3rem;
  background-color: var(--c-lpink);
  border-radius: 10px;
  border-color: var(--c-dlavender);
  text-align: center;
  color: var(--c-black);
  padding: 0.2rem 0.4rem;
  margin-right: 4px;

  box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px inset,
  rgb(255, 100, 255) -2px 7px 15px -3px inset,
  rgba(255, 255, 255, 1) 0px 2px 12px inset;
}

.navbar a:hover {
  background-color: var(--c-white);
  box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px inset,
  rgb(255, 50, 255) -2px 7px 15px -3px inset,
  rgba(255, 255, 255, 1) 0px 2px 12px inset;
}

.navbar a:active {
  text-decoration: solid;
  box-shadow: rgba(0, 0, 0, 1) 0px 2px 8px inset,
  rgb(255, 100, 255) -2px 14px 15px -3px inset,
  rgba(255, 255, 255, 1) 0px 2px 8px inset;
  padding: 0.1rem 0.4rem;
  overflow: hidden;
}

.navbutton {
  display: block;
  grid-area: navbar;
  margin: 0 1rem 0 1rem;
  padding: 0 0 0 0;
  width: fit-content;
  float: left;
}

#nav-links {
  display: none;
  grid-area: navbar;
  margin: 0;
  padding: 0;
  width: fit-content;
  float: right;
}

#about-us-dropdown {
  display: none;
  background-color: var(--c-lpink);
  margin: 6px 0 0 -6px;
  padding: 4px 0px 2px 4px;
  border-radius: 12px;
  width:fit-content;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
    0 2px 12px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

#about-us:hover #about-us-dropdown {
  display: block;
}

#about-us-dropdown a {
  display: flex;
  padding: 0 8px 0px 8px;
  margin: 0 4px 4px 0;
}

/* Contact Form */

.form {
  display: box;
  width: auto;
  padding: 1rem 1rem 1rem 1rem;
  border: var(--c-lavender);
  border-radius: 8px;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
}

.form_small {
  display: flex;
  color: var(--c-black);
  background: var(--c-lavender);
  border: 0;
  border-radius: 8px;
  padding: 1% 2%;
  margin: auto 20% 1rem 20%;
  width: max-content;
  display: inline-block;
  box-shadow: 
  rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
  rgba(0, 0, 0, 0.15) 0 2px 12px;
}

.form_small h1 {
  color: var(--c-lpink);
  text-shadow:
  0px 1px black, 1px 0px black,
  -1px 0px black, 0 -1px black,
  4px 4px var(--c-dpink);
  margin: 0 1rem 0 1rem;

}

.form .form-row {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 0 1rem 0;
  padding: 0;
}

.form-row p {
  font-family: 'Cormorant Garamond', serif;
}
.form .form-spacer {
  display: flex;
  width: 1rem;
  height: 0;
  padding: 0;
  margin: 0;
}

.form .form-row:last-child {
  margin-bottom: 0;
  justify-content: space-evenly;
}

.form input,
.form textarea,
.form select {
  border: 1px var(--c-mpink);
  width: 100%;
  color: var(--c-black);
  background-color: var(--c-lpink);
  padding: 8px;
}

.form textarea {
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--c-white);
  border-radius: 0px;
  height: 43vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px,
  rgba(0, 0, 0, 0) 0px 7px 13px -3px,
  0 2px 12px rgba(0, 0, 0, 0.15);
}

.form input {
  padding: 1% 2%;
  border-radius: 8px;
  background: var(--c-lpink);
  color: var(--c-black);
  box-shadow: 
  rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
  rgba(0, 0, 0, 0.15) 0 2px 12px;
}

textarea:required:invalid,
input:required:invalid,
textarea:focus:invalid,
input:focus:invalid {
  content: "*";
}

.form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.form .submit-btn {
  cursor: pointer;
  background: var(--c-lpink);
  border: 0;
  border-radius: 10px;
  padding: 0.2rem 0%;
  margin-bottom: 1rem;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s background-color;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset,
    0 2px 12px rgba(0, 0, 0, 0.15);

  font-family: 'Satisfy', cursive;
  font-size: 2rem;
  color: var(--c-lpink);
  text-shadow:
  0px 1px black, 1px 0px black,
  -1px 0px black, 0 -1px black,
  4px 4px var(--c-dpink);
}

.form .submit-btn:hover {
  width: 91%;
  box-shadow: var(--c-dpink) 0 2px 8px -2px,
    rgba(0, 0, 0, 1) 0px 2px 4px, rgba(0, 0, 0, 0.6) 0px 7px 19px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: var(--c-mpink);
}

.form .submit-btn:active {
  width: 88%;
  background-color: var(--c-dpink);
}

.form .submit-btn:focus {
  width: 89%;
  background-color: var(--c-dpink);
}
.hidden {
  display: none;
}

.small_body_date.post_date {
  display: flex;
  padding: 0;
  margin: 0;
}
/* Post */

.prev_title {
  font-size: 1.6rem;
  text-align: start;
  padding-right: 1rem;
  color: var(--c-lpink);
  text-shadow:
  0px 1px black, 1px 0px black,
  -1px 0px black, 0 -1px black,
  4px 4px var(--c-dpink);
}

.prev_date {
  font-size: 1.4rem;
  text-align: end;
  color: slategray;
}

.post_date {
  display: flex;
  font-size: 1.8rem;
  text-align: left;
}
